#tabs-components .tab-content {
    padding: 1rem;
    padding-top: 2rem;
    border-bottom: 0px solid rgb(233, 233, 233);
    border-left: 0px solid rgb(233, 233, 233);
    border-right: 0px solid rgb(233, 233, 233);
    background-color: rgb(216, 216, 216);
    font-family: 'Noto Sans KR', sans-serif;
    
}

.nav-tabs .nav-link {
    border: 0px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: rgb(82, 82, 82);
    font-weight: 700;
    font-family: 'Noto Sans KR', sans-serif;
    
    
    
}

#tabs-components .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    font-weight: 700;
    color: #2e64d8;
    background-color: rgb(216, 216, 216);
    border-color: #dee2e6 #dee2e6 #fff;
   
}

#tabs-components .pills-secondary .nav-link.active {
    background-color: rgb(26, 71, 131) !important;
    box-shadow: none;

  
}

#tab-atg .tab-link {
    font-weight: 700;
    font-family: 'Noto Sans KR', sans-serif;

}