#kstarProjects {
  margin-top: 5rem!important;
}


#kstarProjects h2{
  color:#2A99EA;
  
}

#kstarProjects p{
  font-weight: bold;
  color: #565656;
}
#kstarProjects .kstarHrSize{
  border: 1px solid #2A99EA;
}

#kstarProjects .colTextpt{
   justify-content: center;
   padding-left: 1em;
}

#kstarSectionID .card{
  font-weight: 400;
    border: 0;
    box-shadow: none;
}

#kstarSectionID .row{
  text-align: center;
}

#kstarSectionID .rowText1Mb{
  display: none;
}

#kstarSectionID .technology{
  letter-spacing: 0mm;
}

#kstarSection2Id .colTextpt{
  justify-content: center;
  padding-left: 1em;
  letter-spacing: 0.9em;
}

#kstarProjects .colTextpt2{
 font-weight: 400;
 text-align: center;
 font-size: 35px;
 color: #2A99EA;
 padding-left: 1em;
}

#kstarSection2Id .colTextpt2{
  font-weight: 400;
  text-align: center;
  font-size: 35px;
  color: #2A99EA;
  padding-left: 0.5em;
 }

#kstarProjects .rowText1{
 font-size: 1em;
 margin-bottom: 5rem;
}

#kstarProjects .rowkstarProjectsMobile{
  display: none;
}

#kstarSection2Id .rowkstarProjectsMobile{
  display: none;        
}

#kstarSection2Id {
  word-break: keep-all;
  background-color: #F5F5F5;
  padding-top: 40px;
  padding-bottom: 40px;
}

#kstarSection2Id .colIctProject{
  line-height: 2;
}

#kstarSection2Id .colIctProjectMb{
  display: none;
}




#kstarSection3Id .colTextpt2{
  font-weight: 400;
  text-align: center;
  font-size: 35px;
  color: #2A99EA;
  padding-left: 0.5em;
  letter-spacing: 0.7rem;
  
 }
 #kstarSection3Id .colTextpt{
  justify-content: center;
  padding-left: 1em;
  letter-spacing: 0.9em;
}

#kstarSection3Id .rowkstarProjectsMobile{
  display: none;        
}

#kstarSection3Id {
  background-color: #ffffff;
}

#kstarSection3Id .colIctProject{
  line-height: 2;
  font-weight: 500;
}

#kstarSection3Id .colIctProjectMb{
  display: none;
}





#kstarSection4Id .colTextpt2{
  font-weight: 400;
  text-align: center;
  font-size: 35px;
  color: #2A99EA;
  letter-spacing: 1rem;
  
 }
 #kstarSection4Id .colTextpt{
  justify-content: center;
  padding-left: 1em;
  letter-spacing: 0.9em;
}



#kstarSection4Id .rowkstarProjectsMobile{
  display: none;        
}

#kstarSection4Id {
  background-color: #F5F5F5;
}

#kstarSection4Id .colIctProject{
  line-height: 2;
  font-weight: 500;
}

#kstarSection4Id .colIctProjectMb{
  display: none;
}

#kstarSection4Id .containSection4{
  margin-bottom: 4rem;  
}

#kstarSection4Id .containSection4 h5{
  line-height: 4;
}

#kstarSection4Id .containSection4Mb{
  display: none;
}


#kstarSection5Id .colSection5 hr{
 border-color: #2A99EA; 
}


#kstarSection5Id .colSection5{
  color: #2A99EA; 
  font-size: 1.5em;
  font-weight: 500;
  letter-spacing: 1em;
  text-align: center;
  line-height: 1;
}

#kstarSection5Id .colSectionImg5{
  padding-right: 0;
  padding-left: 0;
}

#kstarSection5IdMb {
  display: none;
}




@media (max-width: 1000px){
  #kstarProjects .rowkstarProjectsMobile{
    display: block;        
  }
  #kstarProjects .colTextpt{
    font-size: 0.8em; 
  }
  #kstarProjects .colTextpt2{
    font-size: 1.5em; 
  }


  #kstarProjects .rowkstarProjectsWeb{
    display: none;
  }

  #kstarSectionID .rowText1{
    display: none;
  }
  #kstarSectionID .rowText1Mb{
   display: block;
   font-size: .8em;
   text-align: center;
    }

  #kstarSection2Id .rowkstarProjectsMobile{
    display: block;        
  }

  #kstarSection2Id .colTextpt{
   letter-spacing: .5em;   
   
  }

  #kstarSection2Id .colTextpt2{
    font-size: 1.5em;    
   }

  #kstarSection2Id .rowkstarProjectsWeb{
    display: none;        
  }

  #kstarSection2Id .colIctProject{
    display: none;
  }

  #kstarSection2Id .colIctProjectMb{
    display: block;
    font-size: small;

  }

  #kstarSection3Id .rowkstarProjectsMobile{
    display: block;        
  }

  #kstarSection3Id .colTextpt{
    letter-spacing: .8em;   
    
   }
 
   #kstarSection3Id .colTextpt2{
     font-size: 1.5em;  
     letter-spacing: .3em;     
     
    }
  #kstarSection3Id .rowkstarProjectsWeb{
    display: none;        
  }

  #kstarSection3Id .colIctProject{
    display: none;
  }

  #kstarSection3Id .colIctProjectMb{
    display: block;
    font-size: small;
    line-height: 3;

  }


  #kstarSection4Id .rowkstarProjectsMobile{
    display: block;        
  }

  #kstarSection4Id .colTextpt2{
    font-weight: 400;
    text-align: left;
    font-size: 35px;
    color: #2A99EA;
    padding-left: 0.5em;
    letter-spacing: 1rem;   
  }

  #kstarSection4Id .rowkstarProjectsWeb{
    display: none;        
  }

  #kstarSection4Id .colIctProject{
    display: none;
  }

  #kstarSection4Id .colIctProjectMb{
    display: block;
    font-size: small;
    line-height: 3;

  }

  #kstarSection4Id .colTextpt{
    letter-spacing: .5em;   
    
   }
 
   #kstarSection4Id .colTextpt2{
     font-size: 1.5em;  
     letter-spacing: .1em;     
     
    }
    
  #kstarSection4Id .containSection4Mb{
    display: block;
  }
  
  #kstarSection4Id .containSection4{
    display: none;
  }

  #kstarSection4Id .containSection4Mb h6{
   font-size: 0.8em;
  }
 
  
  
  
  #kstarSection5IdMb {
    display: block;
  }

  #kstarSection5IdMb .colSection5{
    font-size: large;
    text-align: center;
    line-height: 1;
    font-weight: 500;
    color: #2A99EA;
    border-color: #2A99EA;    
    letter-spacing: .5em; 
  }

  #kstarSection5IdMb .colSection5 hr{
  
    border-color: #2A99EA;     
  }
 #kstarSection5Id {
  display: none;
}

}



/* --------------------------------------- */
#effectsSection {
  /* background-color: red; */
  word-break: keep-all;
  padding-top: 3em;
  padding-bottom: 2em;
  margin-top: 2em;
  margin-bottom: 2em;
}

#programImgSection {
  background-color: #F5F5F5;
  word-break: keep-all;
  padding-top: 3em;
  padding-bottom: 5em;
  margin-bottom: 2em;
}
#programImgSection .title{
  word-break: keep-all;
  color: #848484;
  font-size: 1.5em;
  font-weight: 500;
  letter-spacing: 0.4em;
  text-align: center;  
}
#showRoomImgSection {
  /* background-color: red; */
  word-break: keep-all;
  padding-top: 3em;
  padding-bottom: 5em;
  margin-bottom: 2em;
}

/* --------------------- */
/* --------------------- */
#pageTitleSection {
  justify-content: center;
  text-align: center;
  margin-top: 5rem !important;
  margin-bottom: 3rem;
  /* background-color: red; */
}
#pageTitleSection .title {
  color: #2A99EA;
  font-weight: bold;
  margin-bottom: 1rem;
}
#pageTitleSection .subtitle {
  font-weight: bold;
  color: #565656;
}

/* --------------------- */
#bar {
  /* font-weight: bold;
color: #565656; */
  /* background-color: red; */
  word-break: keep-all;
  /* padding-top: 2em;
padding-bottom: 1em; */
  margin-top: 2rem;
  margin-bottom: 2rem;
  justify-content: center;
  text-align: center;
}
#bar .kstarHrSize {
  border: 1px solid #2A99EA;
}

/* --------------------- */
#wideImgSection {
  /* background-color: red; */
  word-break: keep-all;
  padding-top: 4rem;
  padding-bottom: 4rem;
  /* margin-top: 2rem;
  margin-bottom: 2rem; */
  justify-content: center;
  text-align: center;
}
#wideImgSection .titleImg {
  padding-bottom: 1rem;
  padding-right: 2rem;
}
#wideImgSection .desc {

}
#wideImgSection .mainContent {
  border-radius:.80rem!important;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

#wideImgSection .lineBreak {
  padding-bottom: 2rem;
}


#wideImgSection .titleBox{
  display: inline-flex;
}

#wideImgSection .titleText{
  /* word-break: keep-all; */
  color: #2a99ea;
  font-size: 1.5em;
  font-weight: 500;
  letter-spacing: 0.4em;
  /* text-align: center;   */
}

/* --------------------- */
#wideImgInGrayBgSection {
  background-color: #F5F5F5;
  word-break: keep-all;
  padding-top: 4rem;
  padding-bottom: 4rem;
  /* margin-top: 2rem;
  margin-bottom: 2rem; */
  justify-content: center;
  text-align: center;
}
#wideImgInGrayBgSection .titleImg {
  padding-bottom: 1rem;
  padding-right: 2rem;
}
#wideImgInGrayBgSection .desc {

}
#wideImgInGrayBgSection .mainContent {
  border-radius:.80rem!important;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

#wideImgInGrayBgSection .lineBreak {
  padding-bottom: 2rem;
}


#wideImgInGrayBgSection .titleGrayText{
  /* word-break: keep-all; */
  color: #848484;
  font-size: 1.5em;
  font-weight: 500;
  letter-spacing: 0.4em;
  /* text-align: center;   */
}
